* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    background: white ;
}
.Header{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    font-family: "calbri";
    font-size: 20px;  
}
.Header h1{
    background-color: antiquewhite;
}

nav{
    display: inline-block;
}
.Header h1{
    display: inline-block;
    margin-top: 0px;
     }
   
.tabs{
    display: flex;
    list-style-type: none; ;
 }
   nav li{
    padding: 11px;
   }
   nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
   }
   nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px; 
    background: black;
    position: absolute;
    left: 0;
    bottom: -6px;
}
nav ul li a:hover::after{
    width: 100%;
}

/* head image */

/* about section */
#about {
    padding: 80px 0;

}
 .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 .column1{
   flex-basis: 10%;
   border-style:   solid;
   border: 20px;
 }
.column1 img{

    width: 200px;
    height: 200px;
    border-radius: 15px;

 }
 .column2{
   flex-basis: 88%;
 }
 #Work{
    margin-top: 100px 
}
.work-image1 img{
    width: 50%;
    height: 50%;

}
.work-image2 img{
    width: 12%;
    height: 12%;

}
#Contact-me{
    margin-top: 100px;
}


